{% extends "base.html" %}

{% block content %}

<img src="/static/img/indiaai-logo.jpeg" width="200" height="100">
<h3>Hello, {{greet}} Welcome to Diabetes Prediction App</h3>

    <h2>Welcome to IndiAI Diabetes Prediction App</h2>
    <p>
        <strong>Name:</strong> IndiAI <br>
        <strong>Registration No:</strong> 123456789
    </p>
    <p>
        This application helps you predict the likelihood of diabetes based on various health parameters.
    </p>        
{% endblock %}
